body{

    text-align: center;
    background-color: burlywood;
    /* border: solid; */
    height:90vh;
    margin-left: 150px;
    margin-right: 150px;
}

section{
    border: solid;
    padding-bottom: 8px ;
    margin-right: 100px;
    margin-left: 100px;
}

button{
    border-radius: 10px;
    background-color: black;
    color: white;
    padding-right: 10rem;
    padding-left: 10rem;
}